body {
  font-family: 'Roboto', sans-serif;
  margin:0px;
  color:rgba(0,0,0,0.86);
}

 /* Header related CSS */

#header {
  height:64px;
  border-bottom:1px rgba(0,0,0,0.86) solid;
  box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14),
              0 3px 14px 2px rgba(0, 0, 0, 0.12),
              0 5px 5px -3px rgba(0, 0, 0, 0.4);
}

#brand {
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 2px;
}

h2 {
  font-size: 20px;
  letter-spacing: .2px;
  padding-left: 24px;
  text-transform: uppercase;
  font-weight:300;
}

 /* Profile info */

#wrapper {
  width:900px;
  margin:8px auto;
}

.row {
  display: flex;
}

.profile {
  border:1px black solid;
  margin:8px;
  padding:8px;
  width:268px;
  border-radius:2px;
  text-align: center;
}

.gold {
  border: 2px #ffc107 solid;
  background-color:#ffecb3;
}

.silver {
  border: 2px #6d6d6d solid;
  background-color:#eeeeee;
}

.bronze {
  border: 2px #CD7F32 solid;
  background-color:#ebccad;
}

.profile-pic {
  border-radius:100%;
  border: 1.5px black solid;
}

.bullet {
  content:url("https://therankings.github.io/favicon.png");
  margin-right: 8px;
}
